* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #07393C;
}

input[type=text] {
    background-color: #001713;
}

input:focus{
    outline: none;
}

button[type=submit] {
    width: 30em;
    margin: 0 auto;
}

button[type=submit]:active {
    transform: scale(0.99);
}

form .btn-warning::before{
    content: '\2714\00A0';
}




