* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #07393C;
}

input[type=text] {
    background-color: #001713;
}

input:focus{
    outline: none;
}

form .btn-warning::before{
    content: '\2714\00A0';
}




