* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #53DBC9;
    --cor1: #6EA29B;
    --cor2: #368E82;
    --cor3: #07393C;
    --cor4: #2D5D7B;
    --cor5: #0f547e;
    --cor6: #062234;
    --cor7: #B3F2DD;
    --cor8: #000500;
    --cor9: #65AFFF;
    --cor10: #75dbcd;
}

body{
    background-color: var(--cor5);
}

input[type=text] {
    background-color: #001713;
}

input:focus{
    outline: none;
}

button[type=submit] {
    width: 30em;
    margin: 0 auto;
}

button[type=submit]:active {
    transform: scale(0.99);
}

form .btn-warning::before{
    content: '\2714\00A0';
}




