* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: burlywood;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.5em;
}