* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/futura-pt'); /* https://www.cdnfonts.com/futura-pt.font */ 

:root {
    --cor0: #53DBC9;
    --cor1: #6EA29B;
    --cor2: #368E82;
    --cor3: #07393C;
    --cor4: #2D5D7B;
    --cor5: #0f547e;
    --cor6: #062234;
    --cor7: #B3F2DD;
    --cor8: #000500;
    --cor9: #65AFFF;
    --cor10: #75dbcd;
}

.containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor9);
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
}

.containerHeader h1 {
    font-family: 'Futura PT', sans-serif;   
    font-size: 2.5em;                                             
    font-weight: 600;
    /* margin-top: 1em; */
    text-shadow: 1px 3px 3px rgb(0 0 0 / 23%);
}

.containerHeader h2 {
    font-family: 'Futura PT', sans-serif;                                                
    font-size: 1.999em;
    font-weight: 300;  
    text-shadow: 0px 3px 4px rgb(0 0 0 / 23%);

}