*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
         
.containerMeeting {
    padding: 0px 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: #bce4c2;
}

.containerMeeting p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 400;
}

.containerCard {
    width: 30rem;
    margin-top: 1.5rem;
    /* border: thin solid black; */
    border-radius: 3px;
}

.containerCard img {
    width: 100%;
    border-radius: 50%;
}

.firstButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: large;
}