*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1h2Button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.girlSmile {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}