*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #53DBC9;
    --cor1: #6EA29B;
    --cor2: #368E82;
    --cor3: #07393C;
    --cor4: #2D5D7B;
    --cor5: #0f547e;
    --cor6: #062234;
    --cor7: #B3F2DD;
    --cor8: #000500;
    --cor9: #65AFFF;
    --cor10: #75dbcd;
}
         
.containerMeeting {
    padding: 5px 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: var(--cor9);
    min-width: 320px;
    max-width: 1440px;
}

.containerMeeting p {
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    /* letter-spacing: 0.1rem; */
}

.containerCard {
    width: 25em;
    margin-top: 1.5em;
    /* border: thin solid black; */
    border-radius: 3px;
    display: flex;
}

.containerCard img {
    width: 45%;
    border-radius: 50%;
    margin-right: 1em;
}

.firstButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: large;
}

@media screen and (max-width: 960px) {
    .containerMeeting {
        flex-direction: column;
        align-items: center;
    }   
}

/* @media screen and (max-width: 430px) {
    .containerCard {
        flex-direction: column;
        align-items: center;
    }
} */