* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #53DBC9;
    --cor1: #6EA29B;
    --cor2: #368E82;
}

.header {
    font-family: 'Futura PT', sans-serif;                                                
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: #edf9ef;
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 1.3em;
    color: #424649;
    font-weight: 400;
}

.btn-primary {
    background-color: black;
    border-style: none;
}

@media screen and (max-width: 960px){
    .header {
        flex-direction: row;
        align-items: center;
    }   
}