* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signContainer {
    background-color: #2D5D7B;
    display: flex;
}

.imageTreatment img {
    flex: 2;
    width: 20em;
}

form {
    flex: 1;
    text-align: center;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

form img {
    width: 1.6em;
    height: 1.6em;
    object-fit: contain;
}

form input[type=text] {
    background-color: #2D5D7B;
    border: none;
    border-bottom: thin solid rgba(0, 0, 0, 0.131);
    padding: 5px;
}

form input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.285);
    font-size: 1em;
    font-weight: 200;
}



