* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signContainer {
    background-color: cadetblue;
    height: calc();
    display: flex;
}

.imageTreatment img {
    width: 20em;
    flex: 2;
}

form {
    flex: 1;
    /* background-color: antiquewhite; */
    text-align: center;
    border: none;
    color: white;
}

form input[type=text] {
    background-color: #5F9DA0;
    border: none;
    padding: 5px;
}

form div:nth-child(1)::before {
    content: "🧑";
}

form div:nth-child(2)::before {
    content: "📱";
}

form div:nth-child(3)::before {
    content: "📧";
}

form div:nth-child(4)::before {
    content: "🔑";
}

form div:nth-child(5)::before {
    content: "✔️";
}

