* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #53DBC9;
    --cor1: #6EA29B;
    --cor2: #368E82;
    --cor3: #07393C;
    --cor4: #2D5D7B;
    --cor5: #0f547e;
    --cor6: #062234;
    --cor7: #B3F2DD;
    --cor8: #000500;
    --cor9: #65AFFF;
    --cor10: #75dbcd;
}

.signContainer {
    background-color: var(--cor9);
    display: grid;
    min-height: 563px;
    grid-template-columns: 30% 70%;
}

.imageTreatment {
    background-color: black;
}
.imageTreatment {
    background-image: url("./Images/dental-treatment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* flex: 1; */
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.543);
    left: 0;
    top: 0;
}

form {
    /* flex: 2; */
    /* text-align: center; */
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer {
    width: 50%;
    /* background-color: aliceblue; */
    margin: 0 auto;
    border: thin solid #15243542;
    border-radius: 0.5em;
}

form img {
    width: 1.6em;
    height: 1.6em;
    object-fit: contain;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

form input[type=text] {
    width: 90%;
    background-color: var(--cor9);
    border: none;
    border-bottom: thin solid #15243542;
    margin-bottom: 1em;
    padding: 1em;
}

form input[type=text]::placeholder {
    color: #152435ac;
    font-size: 1em;
    font-weight: 300;
}

form input[type=submit] {
    background-color: #f2ba11; /* #FFCA2C */
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 0.5e;
    padding: 0.8em 1em;
    width: 100%;
    margin-top: 1em;
}

form input[type=submit]:hover {
    background-color: #d3a20c;
}

form input[type=submit]:active {
    transform: scale(0.99);
}


